################################################################################
#
#   Files for git to ignore
#
################################################################################

# MacOS files
.DS_Store

# archived files
archived/*

