################################################################################
#
#   Files for git to ignore
#
################################################################################

# MacOS files
.DS_Store

# python intermediate files
*.pyc

# archived files
archived/*
static_site/*

# launch script
launch.sh

