<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="kehang">

    <title>Kehang Han | Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="http://kehang.github.io/">Blog</a></li>
            <li role="presentation"><a href="./fun_projects.html">Fun Projects</a></li>
            <li role="presentation"><a href="./research.html">Research</a></li>
            <li role="presentation"><a href="./teach.html">Teach</a></li>
            <li role="presentation"><a href="./about.html">About</a></li>
            
          </ul>
        </nav>
        <h3 class="text-muted">Kehang Han</h3>
      </div>

      <div id="best_photo" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#best_photo" data-slide-to="0" class="active"></li>
          <li data-target="#best_photo" data-slide-to="1"></li>
          <li data-target="#best_photo" data-slide-to="2"></li>
          <li data-target="#best_photo" data-slide-to="3"></li>
          <li data-target="#best_photo" data-slide-to="4"></li>
          <li data-target="#best_photo" data-slide-to="5"></li>
          <li data-target="#best_photo" data-slide-to="6"></li>
          <li data-target="#best_photo" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/static/photos/Acadia/schoodic_shore.JPG" alt="Chania" class="img-responsive">
            <div class="carousel-caption">
              <h3>Schoodic Shore</h3>
            </div>
          </div>

          <div class="item">
            <img src="/static/photos/Acadia/otter_cliffs.JPG" alt="Chania" class="img-responsive">
            <div class="carousel-caption">
              <h3>Otter Cliffs</h3>
            </div>
          </div>

          <div class="item">
            <img src="/static/photos/Acadia/sea_gull.JPG" alt="Chania" class="img-responsive">
            <div class="carousel-caption">
              <h3>Acadia Sea Gull</h3>
            </div>
          </div>

          <div class="item">
            <img src="/static/photos/Acadia/seawall.JPG" alt="Chania" class="img-responsive">
            <div class="carousel-caption">
              <h3>Acadia Seawall</h3>
            </div>
          </div>

          <div class="item">
            <img src="/static/photos/Switzerland/rhine_bridge.JPG" alt="Chania" class="img-responsive">
            <div class="carousel-caption">
              <h3>Rhine Fall Bridge</h3>
            </div>
          </div>

          <div class="item">
            <img src="/static/photos/Switzerland/sun_jungfraujoch.JPG" alt="Chania" class="img-responsive">
            <div class="carousel-caption">
              <h3>Jungfraujoch</h3>
            </div>
          </div>

          <div class="item">
            <img src="/static/photos/Netherlands/amsterdam_flower.JPG" alt="Flower" class="img-responsive">
            <div class="carousel-caption">
              <h3>Amsterdam Flower</h3>
            </div>
          </div>

          <div class="item">
            <img src="/static/photos/Netherlands/peace_night.JPG" alt="Flower" class="img-responsive">
            <div class="carousel-caption">
              <h3>Amsterdam Night</h3>
            </div>
          </div>

        </div>
      </div>

      <div class="home-bottom">
        <div class="home-bottom-box" style="width:35%;">
          <h4>Follow me</h4>          
          <a href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button"><img alt="linkedIn" src="assets/social_media/linkedIn.png" style="width:50px;height:50px;"></a> &nbsp;

          <a href="https://github.com/KEHANG"><img alt="github" src="assets/social_media/github.png" style="width:50px;height:50px;"></a> &nbsp;

          <a href="https://www.facebook.com/kehang.han"><img alt="facebook" src="assets/social_media/facebook.jpeg" style="width:50px;height:50px;"></a> 

        </div>

        <div class="home-bottom-box">
          <h4>News</h4>
          <p style="font-size:17px"><a href="https://github.com/ReactionMechanismGenerator/RMG-Py/releases/tag/2.1.0" style="color:#0080cc;text-decoration:none;font-weight:bold;">Kehang released RMG-Py v2.1.0</a> March 08, 2017.</p>

          <p style="font-size:17px"><a href="https://github.com/ReactionMechanismGenerator/RMG-Py/tree/2.0.0" style="color:#0080cc;text-decoration:none;font-weight:bold;">Kehang starting serving as lead developer of RMG-Py, released version v2.0.0</a> Sep 17, 2016.</p>

          <p style="font-size:17px"><a href="http://energyhack.mit.edu/" style="color:#0080cc;text-decoration:none;font-weight:bold;">Kehang won the Third Prize in MIT Energy Hackathon</a> Nov 15, 2015.</p>

          <p style="font-size:17px"><a href="./photos/Germany/news_paper.pdf" style="color:#0080cc;text-decoration:none;font-weight:bold;">Kehang and his big data project on Shell Cover</a> Sep 01, 2015.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Kehang Han (<a href="mailto:hkh12@mit.edu">hkh12@mit.edu</a>)</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
